<!--1.Template(html) bloc -->
<template>
  <p><img src="./assets/logo.png" alt="" /></p>
  <h1>Hello {{ name }} {{ age }}</h1>
  <p v-html="msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ ceo }}</p>
</template>

<!-- 2.Logic (Javascipt) bloc -->
<script>
export default {
  data() {
    return {
      name: "Mark",
      age: 45,
      msg: 'How are you?',
      ceo: 'Facebook',
    };
  },
};
</script>

<!-- 3.Style bloc -->
<style>
h1 {
  color: aqua;
}
</style>